.margin {
  margin: 20px;
}
* {
  font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tabla {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.tabla th,
.tabla td {
  border: 1px solid black;
  padding: 8;
}
.tabla {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
nav {
  background-color: #f1f1f1;
  overflow: hidden;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
.tasks{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.tasks_task{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.tasks_task button{
  margin: 5px;
}